.App {
  text-align: center;
  width: 100%;
  padding: 15px;
  padding-top: 100px;
  box-sizing: border-box;
}

.container-drag {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
}

.wip {
  position: relative;
  width: 150px;
  height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  left: 0;
  top: 10;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  color: #fff;
  width:100%;
}

.droppable {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  right: 0;
  top: 10;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  border: 5px dotted ;
  padding: 20px;
}

span {
  line-height: 24px
}

.blank-space {
  border: 2px black solid;
  min-height: 24px;
  box-sizing: border-box;
  min-width: 100px;
  display: inline-flex;
}

.answer {
  border: 2px black solid;
  min-height: 35px;
  width: 100%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  left: 0;
  margin-right: 15px;
}

.circle {
  border-radius: 50%;
}

.rectangle {
  width: 150px !important;
} 

.draggable {
  width: 100px;
  height: 100px;
  margin: 5px auto;
  line-height: 5em;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.option {
  height: auto;
  width: auto;
  border: 1px solid black;
  z-index: 1000;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
  padding: 10px 15px;
}

button {
  padding: 10px 15px;
  background: rgb(52, 125, 242);
  border-radius: 5px;
  border: none;
}

a {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none !important;

}


.boxes-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.no-margin {
  margin-right: 0 !important;
}

.text-game .divider {
  position: relative;
  width: 15px;
  height: 100%;
  content: none;
}

.box {
  position: relative;
  padding: 20px 30px;
  width: 100%;
  max-width: 200px;
  margin: 10px;
  padding-top: 45px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

ul {
  padding-left: 12px;
}

.questions-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  /* align-items: center; */
  text-align: center;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  box-sizing: border-box;
  padding: 30px;
}


.answers-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.option {
  padding: 4px 20px;
  background: rgb(224 232 255);
  border: 3px solid rgb(52 124 242);
  text-align: center;
  border-radius: 5px;
  min-height: max-content;
  margin-right: 15px;
}

.correct {
  border: 2px rgb(28, 156, 28) dotted;
  background: rgb(185, 251, 185);
}

.incorrect {
  border: 2px rgb(173, 26, 26) dotted;
  background: rgb(255, 180, 180);
}

.text-game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.text-game img {
  height: 100%;
  margin-right: 20px;
}

.text-game h4 {
  max-width: 800px;
  text-align: initial;
}